<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>

	<div id="sidebar" th:fragment="common_sidebar">
		<nav>
			<h3>メニュー</h3>
			<ul>
				<li><a href="/echo/">エコー</a></li>
				<li><a href="/elementary/problem05/">Problem 05</a></li>
				<li><a href="/intermediate/problem01/">Problem 01</a></li>
				<li><a href="/intermediate/problem02/">Problem 02</a></li>
				<li><a href="/intermediate/problem03/">Problem 03</a></li>
				<li><a href="/members/">メンバー検索</a></li>
				<li><a href="/sales/">売上一覧</a></li>
			</ul>
		</nav>
	</div>

</body>
</html>