<!DOCTYPE html>
<html lang="ja" xmlns="http://www.thymeleaf.org" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="/common/layout">
<head th:replace="/common/header :: common_head">
	<meta charset="UTF-8"/>
	<title>Spring Marathon</title>
	
	<link href="/css/style.cs" th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<!-- コンテナ開始 -->
<div id="container">

	<!-- ヘッダー開始 -->
<!-- 	<div id="header" th:replace="/common/header :: common_header"></div> -->
	<!-- ヘッダー終了 -->
	
	<div class="clearfix">
		<!-- ナビゲーション開始 -->
<!-- 		<div id="sidebar" th:replace="/common/sidebar :: common_sidebar"></div> -->
		<!-- ナビゲーション終了 -->
		
		<!-- メインカラム開始 -->
		<div id="content" layout:fragment="content">
			<form action="#" th:action="@{/clothesSearch/}" method="post">
				<ul>
					<li class="inline">
						<ul>
							<li th:each="sex : ${sexList}">
								<input type="radio" th:field="${clothesSearchForm.sexId}" th:value="${sex.id}" name="sexId"/>
								<label th:for="${#ids.prev('sexId')}" th:text="${sex.name}">性別</label>
							</li>
							<li><span id="clearRadio" class="btn">clear</span></li>
						</ul>
					</li>
					<li class="inline">
						<select th:field="${clothesSearchForm.clothesColorId}">
							<option value="">色を選択</option>
							<option th:each="color : ${clothesColorList}"
									th:value="${color.id}"
									th:text="${color.name}">色</option>
						</select>
					</li>
					<li class="inline">
						<input type="submit" value="検索"/>
					</li>
				</ul>
			</form>
			<table class="item" th:if="${clothesDtoList != null}" th:each="clothes : ${clothesDtoList}" th:object="${clothes}">
				<tr>
					<th>名前</th>
					<td th:text="*{name}"></td>
				</tr>
				<tr>
					<th>メンズ/レディース</th>
					<td th:text="*{sexName}"></td>
				</tr>
				<tr>
					<th>色</th>
					<td th:text="*{clothesColorName}"></td>
				</tr>
				<tr>
					<th>価格</th>
					<td th:text="*{price}"></td>
				</tr>
			</table>
			<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
				function clearRadio() {
					var count = document.getElementsByName("sexId").length;
					for (var i = 0; i < count; i++) {
						document.getElementsByName("sexId")[i].checked = false;
					}
				}
				
				var e = document.getElementById("clearRadio");
				e.addEventListener("click", clearRadio, false);
			/*]]>*/
			</script>
		</div>
		<!-- メインカラム終了 -->
	</div>
	
	<!-- フッター開始 -->
	<div id="footer" th:replace="/common/footer :: common_footer"></div>
	<!-- フッター終了 -->

</div>
<!-- コンテナ終了 -->
</body>
</html>